.box {
  border: 1px solid black;
  width: 500px;
  text-align: center;
}
.item-img {
  width: 400px;
  height:400px; object-fit: cover;
}
.main {
  display: flex;
  justify-content: center;
}
h3 {
  text-align: center;
  margin:50px 0px!important;
}
.wrap {
  text-align: center;
}
.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}

Button{width:70px; margin: 10px !important;;}